/* General */

* {
    box-sizing: border-box;
}

body {
    position: relative;
}

h1,h2{
    font-family: 'Ruslan Display', cursive !important;
    color: #082330 !important;
    text-align: center !important;
}

p{
    font-family: 'Comfortaa', cursive !important;
}
/* Nav */

nav {
    color: white !important;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #0B384E !important;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-nav {
    font-size: 1.2em;
}


/* Portada */


/* Texto */

#texto1 {
    color: white;
    font-size: 1000%;
}


/* Line */

.raya {
    border-style: dotted solid dashed;
    border: 8px solid white;
    width: 80%;
}

.first {
    background-image: url(../img-portada/nin3.gif);
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    height: 800px;
}

.mapa {
    background-color: rgba(93, 109, 126, 0.6);
    padding-top: 150px;
    padding-bottom: 15px;
    padding-right: 30px;
    width: 100%;
}

#texto1:hover {
    filter: opacity(.5);
}

.img2 {
    padding-top: 20px;
}

.img2:hover,
.img3:hover,
.img1:hover {
    filter: blur(5px);
}

.img3 {
    padding-top: 30px;
}

.logos {
    margin-top: 150px;
    padding-bottom: 140px;
}


/*Mily Mendoza*/


/* About section*/

.about {
    cursor: pointer;
    background-color: #d1d1c9;
    color: black;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.about h1 {
    padding: 15px 0;
    margin-bottom: 20px;
}

.about span {
    /* estilos iconos sin presionar*/
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    border-radius: 50%;
    font-size: 40px;
    color: #FFFFFF;
    opacity: 0.7;
    background-color: #000000;
    /*color icono al rotar*/
    border: 2px solid #DD2C00;
    webkit-transition: all .8s ease;
    /*El valor ease es el valor por defecto;El valor predeterminado; la transición comienza lentamente, crece rápidamente y luego se retrasa de nuevo*/
    moz-transition: all .8s ease;
    os-transition: all .8s ease;
    transition: all .8s ease;
}

.about-item:hover span {
    /* estilos iconos al presionar*/
    opacity: 1;
    border: 2px solid #afaa9d;
    font-size: 40px;
    /*tamaño del icono*/
    -webkit-transform: scale(1.1, 1.1) rotate(360deg);
    -moz-transform: scale(1.1, 1.1) rotate(360deg);
    -o-transform: scale(1.1, 1.1) rotate(360deg);
    transform: scale(1.1, 1.1) rotate(360deg);
}

.about-item:hover h2 {
    opacity: 1;
    color: #491b92;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}


/*Seccion formulario*/

#success_message {
    display: none;
}

#formulario {
    background-image: url(http://www.gifmania.com/Gif-Animados-Videojuegos/Imagenes-Videojuegos-Plataformas/Mario-Bros/mario-bros9-30614.gif);
}


/*Seccion formulario*/
#success_message{ display: none;}
#formulario{
background-image: url(../img-portada/mario.gif);


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.set{
	width: 50%;
	margin-left: 0px;
}

.contactanos{
	width: 100%;
	font-size: 10%;
}

.consola{
	padding-top: 100px;
}

.botonimagen{
  background-image:url(../img-portada/herramientas.png);
  border-radius: 100px;
  background-size: contain;
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
  padding-right: 50px;
}

/*servicio técnico*/
.servicio {
  background: #082330;
  background-size: .8em 50%;
  font: 12em/1 Arial;
}

.text--line {
  font-size: .8em;
}

svg {
  width: 50%;
  height: 50%;
}

.garantia{
	margin-top: 30px;
	padding-top: 50px;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 14s infinite linear;
          animation: stroke-offset 14s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

#centrada {
    margin: 50px auto 0px auto;
    width: 300px;
    font-family: 'Verdana';
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.cube {
    width: 100%;
    height: 50px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.default-state,
.active-state {
    height: 50px;
}

.cube+.cube {
    margin: 10px 0px;
}

.default-state {
    -webkit-transform: translateZ(25px);
    -moz-transform: translateZ(25px);
    -o-transform: translateZ(25px);
    -ms-transform: translateZ(25px);
    transform: translateZ(25px);
}

.flip-to-top .active-state {
    -webkit-transform: rotateX(90deg) translateZ(75px);
    -moz-transform: rotateX(90deg) translateZ(75px);
    -o-transform: rotateX(90deg) translateZ(75px);
    -ms-transform: rotateX(90deg) translateZ(75px);
    transform: rotateX(90deg) translateZ(75px);
}

.flip-to-bottom .active-state {
    -webkit-transform: rotateX(-90deg) translateZ(-50px);
    -moz-transform: rotateX(-90deg) translateZ(-50px);
    -o-transform: rotateX(-90deg) translateZ(-50px);
    -ms-transform: rotateX(-90deg) translateZ(-50px);
    transform: rotateX(-90deg) translateZ(-50px);
}

.cube.flip-to-top:hover {
    -webkit-transform: rotateX(-89deg);
    -moz-transform: rotateX(-89deg);
    -o-transform: rotateX(-89deg);
    -ms-transform: rotateX(-89deg);
    transform: rotateX(-89deg);
}

.cube.flip-to-bottom:hover {
    -webkit-transform: rotateX(89deg);
    -moz-transform: rotateX(89deg);
    -o-transform: rotateX(89deg);
    -ms-transform: rotateX(89deg);
    transform: rotateX(89deg);
}

.cube {
    text-align: center;
    margin: 0 auto;
}

.default-state,
.active-state {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    line-height: 50px;
    -webkit-transition: background 250ms ease;
    -moz-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: background 250ms ease;
}

.cube:hover .default-state {
    background: #000;
}

.facebook {
    background: #3b5998;
}

.twitter {
    background: #019AD1;
}

.google-plus {
    background: #D34836;
}

.linkedin {
    background: #069;
}
