/*GLOBALES*/
*{
    box-sizing: border-box;

    outline:1px solid red;
}

/*Catalogo*/
#catalogo .row
{
    margin: 40px;
}
.div-img img 
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
.div-img .text 
{
    font-family: 'Open Sans';
    padding-top: 5px;
    display: block;
    text-align: center;
    width: 100%;
    transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    opacity: 0;
    transition: transfom opacity 1.5s;
}
.div-img:hover img 
{
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}
.div-img:hover .text 
{
    transform: translate(0px, -20px);
    opacity: 1;
}

/*modal*/
/*
#imagenes{
    background: url(../img-catalogo/xbox.gif) bottom right no-repeat, 
    url(../img-catalogo/psfont.gif) bottom center no-repeat, 
    url(../img-catalogo/nin2.gif) bottom left no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

#fondo-blanco{
    background-color: rgba(255,255,255,0.3);
}*/

/*MODAL NINTENDO*/
.fondo{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;   
    position: fixed;
    top: 0;
    z-index: 1000;
    color: #003c47;
    text-align: center;
    overflow-y: scroll;
}

.cerrar{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    cursor: pointer;
}

.cerrar:hover{
    opacity: 1;
}

#title-X img{
    width: 100%;
}

#xb{

}
/*Fondos modal*/
#fondoX{
    background-image: url('../img-catalogo/modal/xbox.jpg');
    background-size: 100%;
}

#fondoP{
    background-image: url('../img-catalogo/modal/ps4.jpg');
    background-size: 100%;
}
#fondoN{
    background-image: url('../img-catalogo/modal/FondoN.png');
    background-size: 100%;
}

/*Venta*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
/*Scroll bar*/
.fondo::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.fondo::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 3px;
}

.fondo::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}

/*Carrusel*/
#img-xs{
    width: 100%;
}

#slider-barr {
    width: 100%;
    padding: 10px 50px;
}

#slider-barr img {
    border: 3px solid #c7f9c8;
    width: 155px;
    float: left;
    margin: 9px;
    border-radius: 6px;
}

#slider-barr img:last-child {
      display: none;}